<?php

$databases = array (
  'default' =>
  array (
    'default' =>
    array (
      'database' => '{{ database.name }}',
      'username' => '{{ database.user }}',
      'password' => '{{ database.password }}',
      'host' => '{{ database.server.host.name }}',
      'port' => '',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);
